<div class="overview row">
    <div class="col-sm-4">
        <p-card header="Chats">

          <table mat-table [dataSource]="dataSource?.peers" class="demo-table">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element"><b>{{element}}</b></td>
            </ng-container>
        
            <tr
                    mat-row
                    (click)="rowClicked(row)"
                    [class.demo-row-is-clicked]="clickedRows.has(row)"
                    *matRowDef="let row; columns: displayedColumns;"
                ></tr>
          </table>
          
            
              
        </p-card>
        
      
    </div>
    <div class="col-sm-8"  *ngIf="chat!==undefined">
        <app-chat-box [chat]="chat" ></app-chat-box>
    </div>
   </div>


   
