<div class="overview" *ngIf="chat">
  <div class="chat-card">
    <div class="chat-header">
      <div class="h2">{{chat}}</div>
    </div>
    <div class="chat-body">
      <div *ngFor="let message of chatHistory[0]" class="message" [ngClass]="message.recipient===peer?'outgoing':'incoming'">
        <p>{{message.message}}</p>
      </div>
    </div>
    <div class="chat-footer">
      <input placeholder="Type your message" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" >
      <p-button label="Send" (onClick)="sendMessage()"  />
    </div>
    <!-- {{chatHistory|json}}
    <br> -->
    chat:{{chat}}
    <br>
    {{chatHistory[0]|json}}
    <!-- <div>
      <h1>Chat App</h1>
      <div *ngFor="let message of messages">
        {{ message }}
      </div>
      <input
        [(ngModel)]="newMessage"
        placeholder="Type your message"
        (keyup.enter)="sendMessage()"
      />
      <button (click)="sendMessage()">Send</button>
    </div> -->
   
    
  </div>    
</div>
