<div class="overview" >
  <div class="chat-card">
    <div class="chat-header">
      <div class="h2">{{peer}}</div>
    </div>
    <div class="chat-body">
      <div *ngFor="let message of chatHistory" class="message" [ngClass]="'outgoing'">
        <p>{{message}}</p>
      </div>
    </div>
    <div class="chat-footer">
      <input placeholder="Type your message" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" >
      <p-button label="Send" (onClick)="sendMessage()"  />
    </div>
    {{chatHistory|json}}
    <!-- <div>
      <h1>Chat App</h1>
      <div *ngFor="let message of messages">
        {{ message }}
      </div>
      <input
        [(ngModel)]="newMessage"
        placeholder="Type your message"
        (keyup.enter)="sendMessage()"
      />
      <button (click)="sendMessage()">Send</button>
    </div> -->
   
    
  </div>    
</div>
