
<div class="overview">
    <p-card header="Looking for a good read, already?">
      
          <p-button  label="" [link]="true" routerLink="/searchBook">Search for it<mat-icon>arrow_right_alt</mat-icon>
          </p-button>
        
        
      <p class="m-0">
          So far, you have borrowed: <span style="font-weight: bold; font-size: xx-large; inline-size: auto;color: rgb(107, 107, 243);">{{borrowedBooksCount}}</span> book(s)
          <br>
          <br>
          
          View available titles and send a borrowing request.

      </p>
    </p-card>
    
  </div>
     