<div class="login-page">
    <div class="login-form">
        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                    <p-tag icon="pi pi-user" [value]="email" severity="secondary" />
                </div>
            </div>
        </div>
        <div class="header">Reset Password</div>
        <form [formGroup]="registerForm" >
            <div class="label">
                <p-floatLabel>
                    <p-password formControlName="password" [feedback]="false" ng-change="change()"/>
                    <label for="password">New Password</label>
                </p-floatLabel>

            </div>
            <div class="label">
                <p-floatLabel>
                    <p-password formControlName="confirmPassword" [feedback]="false" />
                    <label for="confirmPassword">Confirm Password</label>
                </p-floatLabel>
            </div>
            <div class="label">
                <p-button label="Update Password" type="submit" [disabled]="registerForm.invalid" severity="secondary" 
                 icon="pi pi-check" [outlined]="false" size="small" [loading]="isloading" (onClick)="load()" />
            </div>
          
        </form>


    </div>

</div>
<p-toast />