
<div class="overview">
  <p-card header="Bought a new book??">
    
        <p-button  label="" [link]="true" routerLink="/addBook">Add it to library<mat-icon>arrow_right_alt</mat-icon>
        </p-button>
      
      
    <p class="m-0">
        So far, you have added: <span style="font-weight: bold; font-size: xx-large; inline-size: auto;color: rgb(107, 107, 243);">{{addedBooksCount}}</span> book(s)
        <br>
        <br>
        
      Quickly add a new book you’d like to share with others.
    </p>
  </p-card>
  
</div>
   