<!-- 
username:{{username}}
<br>
chat:{{chat}} -->
<div class="overview" *ngIf="chat">
  <div class="chat-card">
    <div class="chat-header">
      <div class="h2">Instant chat with {{chat}}</div>
    </div>
    <div class="chat-body">
      <div *ngFor="let message of chatHistory" class="message" [ngClass]="message.recipient===chat?'outgoing':'incoming'">
        <p>{{message.message}}</p>
      </div>
    </div>
    <div class="chat-footer">
      <input placeholder="Type your message" type="text" [(ngModel)]="message" (keyup.enter)="sendMessage()" >
      <p-button label="Send" (onClick)="sendMessage()"  />
    </div>
    
    
  </div>    
</div>
